<div class="gallery">
  <ion-avatar class="scroll-item start">
    <img src="../../../assets/avatar.svg">
  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/212">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/123">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/154">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/148">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/176">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/128">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/174">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/135">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/137">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/132">  </ion-avatar>
  <ion-avatar class="scroll-item">    <img src="https://i.pravatar.cc/176">  </ion-avatar>
  <ion-avatar class="scroll-item end">    <img src="https://i.pravatar.cc/144">  </ion-avatar>
</div>