.gallery {
	border: 1px solid lightgray;
//	padding: 1rem;
	padding: 5px;
	display: flex;
	overflow-x: scroll;
//	scroll-padding: 0 50%;
	scroll-snap-type: x mandatory;
}

.li {
	scroll-snap-align: center;
	display: inline-block;
//	height: 53vh;
	border-radius: 3px;
//	font-size: 0;
	margin-right: 3rem;
	 min-width: 7rem;
	background : red;
	padding: 1rem;
}
.scroll-item{
    scroll-snap-align: center;
	 display: inline-block;
    min-width: 5rem;
    height: 100%;
    margin-right: 1rem;
	// padding: 1rem;


}
.start{
    -webkit-margin-start: 9rem;
}
.end{
    -webkit-margin-end: 9rem;
}